### DATABASE CONFIG
DATABASE_NAME=teste
DATABASE_USER=user
DATABASE_PASSWORD=teste
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_TYPE=postgres

### JWT CONFIG
JWT_SECRET=ILoveNest
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUER=http://localhost:3000
JWT_TTL=3600
JWT_TTL_REFRESH=86400

## COOKIE CONFIG
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_MAX_AGE=3600
COOKIE_MAX_AGE_REFRESH=86400

## CACHE CONFIG
CACHE_LRU_SIZE=5000
CACHE_URL=redis://redis:6379
CACHE_TTL=300

##SERVER CONFIG
APP_PREFIX=api/v1
APP_URL=http://localhost:3000
APP_PORT=3000
CORS_ORIGIN=*
CORS_CREDENTIALS=true
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
THROTTLE_TTL=60000
THROTTLE_LIMIT=60
THROTTLE_BLOCK_DURATION=5000

SWAGGER_URL=/api/docs-json
SUPABASE_URL=https://yeuvhactrcrvxwvhxzlx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldXZoYWN0cmNydnh3dmh4emx4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDczMDY4NSwiZXhwIjoyMDYwMzA2Njg1fQ.4XVbKtIURog3-XHvFgr3xucDkGgP98eog9gBJ6RoNLA
SUPABASE_BUCKET=bucket-file

#ENCRYPT
CRYPT_KEY=0123456789abcdef0123456789abcdef
