DATABASE_NAME=teste
DATABASE_USER=user
DATABASE_PASSWORD=teste
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_TYPE=postgres

JWT_SECRET=ILoveNest
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUER=http://localhost:3000
JWT_TTL=3600
JWT_TTL_REFRESH=86400

COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true
COOKIE_SAME_SITE=strict
COOKIE_MAX_AGE=3600
COOKIE_MAX_AGE_REFRESH=86400

CACHE_LRU_SIZE=5000
CACHE_URL=2
CACHE_TTL=300
